@charset "UTF-8";
*{
	margin: 0; padding: 0; box-sizing: border-box;
}
nav{
	height: 90px; color: #fff; text-transform: uppercase;
}
a{
	cursor:pointer; font-weight: bold
}
a.btn-nav:hover{
	font-size: 1.1em;
}
a.btn-nav:visited{
	color: #fff;
}
.neo-section{
	min-height: 700px;
	background: cover !important;
	background-position: center;
	background-repeat: no repeat;
	width: 100%;
	padding: 30px;
	position: relative;
}
.wm{
	width: 50%; float: left;
}
.neo-container{
	max-width: 1200px; padding: 2% 2%; margin: 0 auto; margin-top: 170px;
}
.clear{
	clear: both
}
.center{
	text-align: center;
}
.neo-section > .neo-container{
	position: relative;
	z-index: 105;
}
.texto-centro{
	color: #fff; font-size: 3em; font-family: 'Ubuntu'; font-weight: bold;
}
.btn{
	width: 280px; color: #fff; border-radius:10px; border: 2px solid #a55eea; padding: 15px; font-weight: bold;
}
.botoes{
	padding: 2% 15%;
}
.rodape{
	color: #fff; background-color: #a02790; text-align: center; padding: 12px;
}
.button-pesquisa{
	width: auto; border: solid 1px; margin: 0 auto;
}
.button-PageList{
	width: auto; border: solid 1px; margin: 0 auto;
}
body{
	background-color: #a54999;
}
#pesquisar-filtro{
	background-color: #0000ff;
	width: auto; 
	color: black; height: auto;
	border: solid 1px blue; 
	padding: 6px; 
	border-radius: 2px;
}
.card{
	margin-bottom: 4px;
	width: 270px;
	margin-left: 12px;
}
.card-img-top{
	width: 268px; 
	height: 178.66px
}
.card-img-top:hover{
	width: 105%;
	height: 187px;
}
.card-title{
	height: 72px;
}

/*Responsave */

@media screen and (max-width: 800px){
	
	.wm{width: 100%;}
	nav{height: 100%;}
	.neo-container{margin-top: 120px;}
	#botaoSair{ margin-left: 15px;}
}
@media screen and (min-width: 425px){
	.button-pesquisa{margin-bottom: 2px; padding: 10px; font-size: 7px;}
	.saveButton{width: 150px; border: solid 1px; margin-left: 35px; margin-bottom: 2px;}
	.backButton{width: 150px; border: solid 1px; background-color: #ff0000; margin-bottom: 2px;}
	.tableInList{font-size: 7px; margin-left: -10px;}
}
@media screen and (min-width: 480px){
	.card{margin-left: 105px;}
	.button-pesquisa{margin-bottom: 2px; padding: 10px; font-size: 8px;}
	.saveButton{width: 150px; border: solid 1px; margin-left: 60px; margin-bottom: 2px;}
	.tableInList{font-size: 8px; margin-left: 0px;}
}
@media screen and (min-width: 640px){
	.card{margin-left: 137px;}
	.saveButton{width: 150px; border: solid 1px; margin-left: 90px; margin-bottom: 2px;}
}
@media screen and (min-width: 720px){
	.card{margin-left: 2px; float: left;}
	.button-pesquisa{margin-bottom: 2px; padding: 10px; font-size: 8px; font-size: 11px;}
	.row{width: 546px;}
	.saveButton{width: 150px; border: solid 1px; margin-left: 92px; margin-bottom: 2px;}
	.tableInList{font-size: 11px; margin-left: 0px;}
}
@media screen and (min-width: 768px){
	.card{margin-left: 15px; float: left; margin-bottom: 10px}
	.rows{width: 720px;}
	.saveButton{width: 150px; border: solid 1px; margin-left: 169px; margin-bottom: 2px;}
}
@media screen and (min-width: 1080px){
	.card{margin-left: 2px; float: left; width: 238px}
	.button-pesquisa{margin-bottom: 2px; padding: 10px; font-size: 8px; font-size: 15px;}
	.rows{width: 960px; margin-left: 15px;}
	.card-img-top{
		width: 236px; 
		height: 178.66px;
	}
	.saveButton{width: 150px; border: solid 1px; margin-left: 295px; margin-bottom: 2px;}
	.tableInList{font-size: 15px; margin-left: 0px;}
}
@media screen and (min-width: 1280px){
	.card{margin-left: 2px; float: left; width: 268px}
	.rows{width: 1080px; margin-left: 55px;}
	.card-img-top{
		width: 266px; 
		height: 178.66px;
	}
	.card-text{height: 72px}
	.saveButton{width: 150px; border: solid 1px; margin-left: 387px; margin-bottom: 2px;}
}
@media screen and (min-width: 1320px){
	.card{
		margin-bottom: 4px;
		width: 260px;
		margin-left: 5px;
	}
	.card-img-top{
		width: 258px; 
		height: 178.66px
	}
	.fieldSave{align-items: center;}
}
@media screen and (min-width: 1440px){
	.card{margin-left: 2px; float: left; width: 268px}
	.row{width: 1080px; margin-left: 15px; margin-right: 0px;}
	.card-img-top{
		width: 266px; 
		height: 178.66px;
	}
	.card-text{height: 72px}
}
@media screen and (min-width: 1920px){
	.card{margin-left: 2px; float: left; width: 268px}
	.row{width: 1080px; margin-left: 15px; margin-right: 0px;}
	.card-img-top{
		width: 266px; 
		height: 178.66px;
	}
	.card-text{height: 72px}
}
@media screen and (min-width: 2160px){
	.card{margin-left: 2px; float: left; width: 268px}
	.row{width: 1080px; margin-left: 15px; margin-right: 0px;}
	.card-img-top{
		width: 266px; 
		height: 178.66px;
	}
	.card-text{height: 72px}
}
@media screen and (min-width: 2160px){
	.card{margin-left: 2px; float: left; width: 268px}
	.row{width: 1080px; margin-left: 15px; margin-right: 0px;}
	.card-img-top{
		width: 266px; 
		height: 178.66px;
	}
	.card-text{height: 72px}
}

@media screen and (min-height: 1080px) {
	.rodape{margin-top: 210px}
}
@media screen and (min-height: 1280px) {
	.rodape{margin-top: 420px}
}
@media screen and (min-height: 1920px) {
	.rodape{margin-top: 1065px}
}
@media screen and (min-height: 2160px) {
	.rodape{margin-top: 1320px}
}