<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css">
<link media="all" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<title>Alterar Aluno</title>
<meta name="author" content="Carlos Souza"/>
<link rel="stylesheet" href="css/style.css">
</head>

<body>

	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
	
	<div class="container" style="margin-top: 50px; margin-left: 153px;">
	
	<h5>Editar Aluno</h5>
	<hr>
	<br>
	
	<form method="post" action="/alterar" th:object="${aluno}" autocomplete="off">
	<input type="hidden" th:field="*{id}">
	<!-- Campo nome do aluno -->
		
		<div class="row">
			<div class="col-md-5 form-group offset-md-3">
				<label>Nome aluno:</label>
				<input class="form-control" placeholder="Ex: Catiele Silva" th:field="*{nome}" minlenght="14"> 
			</div>
		</div>
		
	<!-- Campo turno -->
	
		<div class="row">
			<div class="col-md-5 form-group offset-md-3">
				<label>Turno:</label>
				<select class="form-control" th:field="*{turno}">
					<option th:each="turno : ${T(br.com.academy.Enums.Turno).values()}"
					th:value="${turno}" th:text="${turno}"></option> 
				</select>
			</div>
		</div>
		
	<!-- Campo disciplina -->
		
		<div class="row">
			<div class="col-md-5 form-group offset-md-3">
				<label>Selecione o curso:</label>
				<select class="form-control" th:field="*{curso}">
					<option th:each="curso : ${T(br.com.academy.Enums.Curso).values()}"
					th:value="${curso}" th:text="${curso}"></option> 
				</select>
			</div>
		</div>
		
	<!-- Campo matricula -->
		
		<div class="row">
			<div class="col-md-5 form-group offset-md-3">
				<label>Gerar Matricula:</label>
				<input readonly="readonly" class="form-control" id="matricula" th:field="*{matricula}">
				<button type="button" onclick="GerarMatricula();" class="btn btn-dark" style="margin-top: 10px; width: auto; border: 0px;">Gerar</button>
			</div>
		</div>	
		
	<!-- Status do aluno -->		
		
		<div class="row">
			<div class="col-md-5 form-group offset-md-3">
				<label>Status:</label>
				<select class="form-control" th:field="*{status}">
					<option th:each="status : ${T(br.com.academy.Enums.Status).values()}"
					th:value="${status}" th:text="${status}"></option> 
				</select>
			</div>
		</div> 
		
	<!-- Campo de salvamento -->
		
		<div class="row offset-md-3">
			<button type="submit" class="btn btn-success saveButton">SAVE</button>
			&nbsp;&nbsp;
			<a class="btn btn-outline-danger backButton" th:href="@{/alunos-adicionados}">BACK</a>
		</div>
	
	</form>
	
	</div>

</body>
</html>